@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
.App {
	text-align: center;
}

.color {
	background: rgb(41, 57, 201);
	background: linear-gradient(
		169deg,
		rgba(41, 57, 201, 1) 0%,
		rgba(36, 185, 199, 1) 33%,
		rgba(88, 233, 193, 1) 51%,
		rgba(255, 255, 255, 1) 70%
	);
}
.App-header {
	min-height: 120vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(30px + 2vmin);
	font-weight: lighter;
	font-family: "DM sans", sans-serif;
	color: white;
}

.App-link {
	color: #61dafb;
}
