@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.color {
	width: 100%;
	background: rgb(41, 57, 201);
	background: linear-gradient(
		165deg,
		rgba(41, 57, 201, 1) 0%,
		rgba(36, 185, 199, 1) 36%,
		rgba(88, 233, 193, 1) 59%,
		rgba(255, 255, 255, 1) 80%
	);
}
.App-header {
	min-height: 105vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30vh;
	font-size: calc(30px + 2vmin);
	font-weight: lighter;
	font-family: "DM sans", sans-serif;
	color: white;
}

.about_dropdown {
	text-align: center;
}

.App-link {
	color: #61dafb;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.chev-down {
	margin-top: 2vh;
}

.chev-down:hover {
	color: grey;
}

.profile-pic {
	width: 26vw;
	margin: 10vh;
	border-radius: 50%;
}
