@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.color {
	display: grid;
	place-items: center;
	height: 1000px;
	background-color: whitesmoke;
}
.App-header {
	font-size: calc(30px + 2vmin);
	font-weight: lighter;
	font-family: "DM sans", sans-serif;
	color: white;

	background: rgb(0, 62, 173);
	background: linear-gradient(
		175deg,
		rgba(0, 62, 173, 1) 0%,
		rgba(26, 132, 205, 1) 36%,
		rgba(0, 212, 255, 1) 54%,
		rgba(139, 255, 209, 1) 70%,
		#f5f5f5 84%
	);
}

.intro-text {
	display: grid;
	grid-template-columns: 3fr 5fr 3fr;
}

.intro-text > * {
	grid-column: 2;
}

.about_dropdown {
	text-align: center;
}

.App-link {
	color: #61dafb;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.chev-down {
	margin-top: 2vh;
}

.chev-down:hover {
	color: grey;
}

.profile-pic {
	width: 26vw;
	margin: 10vh;
	border-radius: 50%;
}
