.intro_container {
	display: grid;
	place-content: center;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1fr min(65ch, 100%) 1fr;
}
.intro_container > * {
	grid-column: 2;
}
.intro_container > *:not(:first-child) {
	margin-top: 300px;
}

.side_by_side {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.left_side {
	grid-column: 1;
}
.right_side {
	grid-column: 2;
}

@media (max-width: 768px) {
	.intro_container {
		display: grid;
		grid-template-columns: 1fr 4fr 1fr;
		place-content: center;
	}
	.intro_container > * {
		grid-column: 2;
	}
}
