@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background: rgb(41, 57, 201);
	background: linear-gradient(
		169deg,
		rgba(41, 57, 201, 1) 0%,
		rgba(36, 185, 199, 1) 33%,
		rgba(88, 233, 193, 1) 51%,
		rgba(255, 255, 255, 1) 70%
	);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(30px + 2vmin);
	font-weight: lighter;
	font-family: "DM sans", sans-serif;
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
