.container {
	display: grid;
	padding: 3vh 0;
	grid-template-columns: 4fr 3fr 2fr 3fr 4fr;
	grid-template-rows: repeat(auto-fit, 200px);
}

.leftcol > * {
	margin: 20px 0;
}

.leftcol {
	grid-column: 2/3;
}
.rightcol > * {
	margin: 20px;
	list-style: none;
}

.rightcol li {
	margin-bottom: 20px;
}

a:visited {
	text-decoration: none;
}
a:active {
	opacity: 70%;
}

.rightcol {
	grid-column: 4/5;
}
